.CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 10px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .CardContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .cardDescription {
    margin-bottom: 16px;
  }
  
  .chipContainer {
    flex-wrap: wrap;
  }
  
  .chipContainer .MuiChip-root {
    margin: 2px;
  }
  